# Alpha Vantage

***

There are multiple ways to import data from the 'Alpha Vantage' API. <br>
As mentioned in the previous videos, requesting data from the 'Alpha Vantage' API is not the easiest option from a programmatic point of view. However, going through this IPython Notebook file will be a great exercise, especially if you feel confident enough about coding with Python or you are up for a challenge.

First, you'll need to pip install the alpha-vantage module. Hence, open Anaconda Prompt and run **pip install alpha-vantage**.
<br> <br>
Then, you need to go to https://www.alphavantage.co/ and click on "Get Your Free API Key". Save it, as you will need to replace all "INSERT-YOUR-API-KEY-HERE" strings you see within the code presented in this document.

Then, import the usual modules for retrieving and manipulating financial data in Python:

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

From the module you just installed, you need to import **TimeSeries**. Hence, the following line of code will do the job.

In [2]:
from alpha_vantage.timeseries import TimeSeries

Then, with the following line, designate your API key, as well as the format in which you would like to retrieve the data. In our case, this will be the 'pandas' module.

In [4]:
ts = TimeSeries(key = 'PJPQ3GJSO6XZQKZN', output_format='pandas')

Finally, give a name to the new variable, containing the name of the stock and a suffix indicating the API we have retrieved the data from. <br>
Next to this new variable, you need to give the name to "metadata", as it will be storing information about the dataset retrieved.

Then, apply the **.get_daily_adjusted()** method to obtain the adjusted closing prices for the designated stock.

In [5]:
PG_av, metadata = ts.get_daily_adjusted('PG', outputsize='full')
PG_av

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2021-11-24,148.77,148.8800,147.68,148.66,148.660000,5665173.0,0.0,1.0
2021-11-23,147.83,149.5000,147.67,149.44,149.440000,7913048.0,0.0,1.0
2021-11-22,146.97,148.9400,146.83,147.80,147.800000,6625408.0,0.0,1.0
2021-11-19,147.95,148.2300,146.79,146.82,146.820000,6274297.0,0.0,1.0
2021-11-18,147.04,148.0751,146.51,147.12,147.120000,5509373.0,0.0,1.0
...,...,...,...,...,...,...,...,...
1999-11-05,106.00,106.8000,105.50,105.90,29.708793,1653100.0,0.0,1.0
1999-11-04,107.30,107.4000,104.00,105.30,29.540472,2124000.0,0.0,1.0
1999-11-03,106.60,107.6000,105.30,106.80,29.961276,2503300.0,0.0,1.0
1999-11-02,107.80,108.4000,106.00,106.00,29.736847,2550100.0,0.0,1.0
1999-11-01,105.10,108.6000,104.90,108.00,30.297920,2810500.0,0.0,1.0

You can repeat the same exercise, using the tickers of other stocks, such as Apple, for instance ('AAPL').

In [6]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key = 'PJPQ3GJSO6XZQKZN', output_format='pandas')
AAPL_av, metadata = ts.get_daily_adjusted('AAPL', outputsize='full')
AAPL_av

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2021-11-24,160.75,162.14,159.6400,161.94,161.940000,69463623.0,0.0,1.0
2021-11-23,161.12,161.80,159.0601,161.41,161.410000,96041899.0,0.0,1.0
2021-11-22,161.68,165.70,161.0000,161.02,161.020000,117467889.0,0.0,1.0
2021-11-19,157.65,161.02,156.5328,160.55,160.550000,117305597.0,0.0,1.0
2021-11-18,153.71,158.67,153.0500,157.87,157.870000,137827673.0,0.0,1.0
...,...,...,...,...,...,...,...,...
1999-11-05,84.62,88.37,84.0000,88.31,0.675935,3721500.0,0.0,1.0
1999-11-04,82.06,85.37,80.6200,83.62,0.640037,3384700.0,0.0,1.0
1999-11-03,81.62,83.25,81.0000,81.50,0.623810,2932700.0,0.0,1.0
1999-11-02,78.00,81.69,77.3100,80.25,0.614243,3564600.0,0.0,1.0
1999-11-01,80.00,80.69,77.3700,77.62,0.594112,2487300.0,0.0,1.0

Apart from US stocks, you can retrieve data about foreign stocks (e.g. Beiersdorf, ticker: 'BEI.DE'), or market indices (e.g. Standard & Poor's, ticker: '^GSPC', or Dow Jones, ticker: '^DJI').

In [13]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key = 'PJPQ3GJSO6XZQKZN', output_format='pandas')
GSPC_av, metadata = ts.get_daily_adjusted('GSPC', outputsize='full')
GSPC_av

ValueError: Error getting data from the api, no return was given.

To combine specific columns from various stocks, one would need to *concatenate* the columns of interest by using the **.concat()** function to specify which columns you want to extract.

In [9]:
pfolio_av = pd.concat([PG_av['5. adjusted close'], GSPC_av['5. adjusted close']], axis = 1)
pfolio_av

NameError: name 'GSPC_av' is not defined

Finally, use **.columns** and assign a list with the names of the columns should you wish to change them.

In [8]:
pfolio_av.columns = ['PG', 'GSPC']
pfolio_av

                 PG       GSPC
date
2000-01-03  33.0716  1455.2200
2000-01-04  32.4238  1399.4200
2000-01-05  32.1461  1402.1100
2000-01-06  33.2876  1403.4500
2000-01-07  35.9407  1441.4700
2000-01-10  35.7556  1457.6000
2000-01-11  36.3418  1438.5601
2000-01-12  36.0950  1432.2500
2000-01-13  35.4779  1449.6801
2000-01-14  36.0950  1465.1500
2000-01-18  36.0641  1455.1400
2000-01-19  35.7001  1455.9000
2000-01-20  34.8339  1445.5699
2000-01-21  31.7712  1441.3600
2000-01-24  29.6985  1401.5300
2000-01-25  30.1625  1410.0300
2000-01-26  31.1216  1404.0900
2000-01-27  32.2043  1398.5601
2000-01-28  31.0287  1360.1600
2000-01-31  31.2762  1394.4600
2000-02-01  30.7813  1409.2800
2000-02-02  30.5121  1409.1200
2000-02-03  30.2584  1424.9700
2000-02-04  29.3118  1424.3700
2000-02-07  28.8478  1424.2400
2000-02-08  29.6212  1441.7200
2000-02-09  29.0798  1411.7100
2000-02-10  28.2878  1416.8300
2000-02-11  29.0024  1387.1200
2000-02-14  28.4239  1389.9399
...             ...        ...
2018-05-17  73.9600  2720.1299
2018-05-18  73.4500  2712.9700
2018-05-21  74.0600  2733.0100
2018-05-22  74.0300  2724.4399
2018-05-23  74.1800  2733.2900
2018-05-24  73.7700  2727.7600
2018-05-25  74.3100  2721.3301
2018-05-29  74.0500  2689.8601
2018-05-30  74.8900  2724.0100
2018-05-31  73.1700  2705.2700
2018-06-01  73.4500  2734.6201
2018-06-04  74.1800  2746.8701
2018-06-05  73.9700  2748.8000
2018-06-06  74.3500  2772.3501
2018-06-07  75.7600  2770.3701
2018-06-08  77.1800  2779.0300
2018-06-11  77.5300  2782.0000
2018-06-12  77.2400  2786.8501
2018-06-13  76.4700  2775.6299
2018-06-14  75.9900  2782.4900
2018-06-15  77.3800  2779.6599
2018-06-18  75.8400  2773.7500
2018-06-19  76.3300  2762.5901
2018-06-20  75.8500  2767.3201
2018-06-21  76.4400  2749.7600
2018-06-22  77.4300  2754.8799
2018-06-25  77.7900  2717.0701
2018-06-26  78.0000  2723.0601
2018-06-27  77.6900  2699.6299
2018-06-28  78.0600  2703.2500

[4652 rows x 2 columns]