In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [3]:
ser

0    0.199132
1    0.987768
2    0.507027
3    0.636930
4    0.021179
Name: Column 01, dtype: float64

In [4]:
ser[2]

0.5070274525337166

In [5]:
from pandas_datareader import data as wb

In [6]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [7]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,8.014157
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,7.949919
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,7.837497
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,7.853554
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,7.821436
...,...,...,...,...,...,...
2021-11-18,148.080002,146.509995,147.039993,147.119995,5509300.0,147.119995
2021-11-19,148.229996,146.789993,147.949997,146.820007,6263700.0,146.820007
2021-11-22,148.940002,146.830002,146.970001,147.800003,6625400.0,147.800003
2021-11-23,149.500000,147.669998,147.830002,149.440002,7912800.0,149.440002
2021-11-24,148.880005,147.679993,148.770004,148.660004,5665200.0,148.660004

In [8]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6774 entries, 1995-01-03 to 2021-11-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6774 non-null   float64
 1   Low        6774 non-null   float64
 2   Open       6774 non-null   float64
 3   Close      6774 non-null   float64
 4   Volume     6774 non-null   float64
 5   Adj Close  6774 non-null   float64
dtypes: float64(6)
memory usage: 370.5 KB

In [9]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.014157
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.949919
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.837497
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.853554
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.821436

In [10]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-11-18,148.080002,146.509995,147.039993,147.119995,5509300.0,147.119995
2021-11-19,148.229996,146.789993,147.949997,146.820007,6263700.0,146.820007
2021-11-22,148.940002,146.830002,146.970001,147.800003,6625400.0,147.800003
2021-11-23,149.500000,147.669998,147.830002,149.440002,7912800.0,149.440002
2021-11-24,148.880005,147.679993,148.770004,148.660004,5665200.0,148.660004

In [11]:
PG.head(20)

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.014157
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.949919
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.837497
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.853554
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.821436
1995-01-10  15.43750  15.18750  15.28125  15.40625  4364000.0   7.917797
1995-01-11  15.59375  15.37500  15.59375  15.37500  3738400.0   7.901735
1995-01-12  15.53125  15.31250  15.37500  15.53125  3307600.0   7.982036
1995-01-13  15.84375  15.53125  15.59375  15.62500  3992800.0   8.075716
1995-01-16  15.96875  15.75000  15.90625  15.75000  3677200.0   8.140326
1995-01-17  15.81250  15.65625  15.71875  15.81250  2437600.0   8.172623
1995-01-18  15.75000  15.43750  15.68750  15.46875  3535200.0   7.994959
1995-01-19  15.40625  15.34375  15.34375  15.40625  2491200.0   7.962657
1995-01-20  15.40625  15.25000  15.40625  15.34375  5130800.0   7.930351
1995-01-23  15.50000  15.18750  15.18750  15.50000  3147200.0   8.011111
1995-01-24  15.53125  15.37500  15.50000  15.46875  2016400.0   7.994959
1995-01-25  15.78125  15.43750  15.50000  15.68750  2802400.0   8.108018
1995-01-26  15.84375  15.68750  15.71875  15.75000  3124000.0   8.140326
1995-01-27  16.25000  15.81250  15.81250  16.18750  6247200.0   8.366440
1995-01-30  16.56250  16.09375  16.12500  16.43750  5226400.0   8.495653

In [12]:
PG.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-10-28,142.880005,141.710007,141.889999,142.679993,4538500.0,142.679993
2021-10-29,143.479996,142.020004,142.160004,142.990005,6239500.0,142.990005
2021-11-01,143.800003,142.490005,143.360001,142.639999,5038900.0,142.639999
2021-11-02,144.580002,142.279999,142.720001,144.059998,9954300.0,144.059998
2021-11-03,145.110001,143.520004,144.130005,145.050003,7620100.0,145.050003
2021-11-04,145.389999,142.339996,142.839996,145.320007,6402500.0,145.320007
2021-11-05,146.369995,144.800003,145.440002,146.039993,6062700.0,146.039993
2021-11-08,146.100006,144.020004,145.500000,144.949997,5854400.0,144.949997
2021-11-09,145.830002,144.580002,145.029999,145.389999,4873100.0,145.389999
2021-11-10,147.309998,145.589996,145.740005,146.820007,7334900.0,146.820007
2021-11-11,146.970001,146.210007,146.860001,146.399994,4096300.0,146.399994
2021-11-12,147.080002,145.979996,146.740005,146.559998,5687400.0,146.559998
2021-11-15,147.750000,146.470001,147.029999,147.399994,5510200.0,147.399994
2021-11-16,148.589996,147.009995,147.389999,147.190002,7603900.0,147.190002
2021-11-17,147.779999,146.419998,146.970001,147.100006,4900200.0,147.100006
2021-11-18,148.080002,146.509995,147.039993,147.119995,5509300.0,147.119995
2021-11-19,148.229996,146.789993,147.949997,146.820007,6263700.0,146.820007
2021-11-22,148.940002,146.830002,146.970001,147.800003,6625400.0,147.800003
2021-11-23,149.500000,147.669998,147.830002,149.440002,7912800.0,149.440002
2021-11-24,148.880005,147.679993,148.770004,148.660004,5665200.0,148.660004

In [13]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [14]:
new_data.tail()

                    PG        MSFT          T          F          GE
Date
2021-11-18  147.119995  341.269989  24.389999  19.559999  100.669998
2021-11-19  146.820007  343.109985  24.129999  19.389999   99.959999
2021-11-22  147.800003  339.829987  24.700001  20.480000  101.040001
2021-11-23  149.440002  337.679993  24.760000  20.200001  102.080002
2021-11-24  148.660004  337.910004  24.469999  20.250000  102.230003